# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Next.js specific
client/.next/
client/out/
client/next-env.d.ts

# Ignore build folders
client/dist/
server/dist/
server/build/

# Environment files (Very Important)
.env
client/.env*.local
server/.env

# Logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/